/Lesson_1_app/vendor/go.uber.org/atomic/.codecov.yml
/Lesson_1_app/vendor/go.uber.org/multierr/.codecov.yml
/Lesson_1_app/vendor/go.uber.org/zap/.codecov.yml
/.idea/.gitignore
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/.gitignore
/Lesson_1_app/vendor/github.com/jackc/pgconn/.gitignore
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/.gitignore
/Lesson_1_app/vendor/go.uber.org/atomic/.gitignore
/Lesson_1_app/vendor/go.uber.org/multierr/.gitignore
/Lesson_1_app/vendor/go.uber.org/zap/.gitignore
/Lesson_1_app/vendor/go.uber.org/zap/.readme.tmpl
/Lesson_1_app/vendor/github.com/jackc/chunkreader/v2/.travis.yml
/Lesson_1_app/vendor/github.com/jackc/pgio/.travis.yml
/Lesson_1_app/vendor/github.com/jackc/pgpassfile/.travis.yml
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/.travis.yml
/Lesson_1_app/vendor/github.com/jackc/pgservicefile/.travis.yml
/Lesson_1_app/vendor/github.com/jackc/pgtype/.travis.yml
/Lesson_1_app/vendor/github.com/jackc/puddle/.travis.yml
/Lesson_1_app/vendor/github.com/kelseyhightower/envconfig/.travis.yml
/Lesson_1_app/vendor/go.uber.org/atomic/.travis.yml
/Lesson_1_app/vendor/go.uber.org/multierr/.travis.yml
/Lesson_1_app/vendor/go.uber.org/zap/.travis.yml
/Lesson_1_app/vendor/golang.org/x/lint/.travis.yml
/Lesson_1_app/vendor/gopkg.in/yaml.v2/.travis.yml
/Lesson_1_app/vendor/github.com/jackc/pgtype/aclitem.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/aclitem_array.go
/Lesson_1_app/vendor/golang.org/x/crypto/acme/acme.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/apic.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/array.go
/Lesson_1_app/vendor/go.uber.org/zap/array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/array_type.go
/Lesson_1_app/vendor/go.uber.org/atomic/atomic.go
/Lesson_1_app/vendor/github.com/jackc/pgconn/auth_scram.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/authentication_cleartext_password.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/authentication_md5_password.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/authentication_ok.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/authentication_sasl.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/authentication_sasl_continue.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/authentication_sasl_final.go
/Lesson_1_app/vendor/golang.org/x/crypto/AUTHORS
/Lesson_1_app/vendor/golang.org/x/net/AUTHORS
/Lesson_1_app/vendor/golang.org/x/text/AUTHORS
/Lesson_1_app/vendor/golang.org/x/tools/AUTHORS
/Lesson_1_app/vendor/golang.org/x/crypto/acme/autocert/autocert.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/backend.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/backend_key_data.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/basic_auth.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/batch.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/pgxpool/batch_results.go
/Lesson_1_app/vendor/golang.org/x/tools/go/internal/gcimporter/bexport.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/bidi/bidi.go
/Lesson_1_app/vendor/golang.org/x/text/secure/bidirule/bidirule.go
/Lesson_1_app/vendor/golang.org/x/text/secure/bidirule/bidirule9.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/secure/bidirule/bidirule10.0.0.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/big_endian.go
/Lesson_1_app/vendor/golang.org/x/tools/go/internal/gcimporter/bimport.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/bind.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/bind_complete.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/bit.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/bool.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/bool_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/box.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/bpchar.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/bpchar_array.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/bidi/bracket.go
/Lesson_1_app/vendor/go.uber.org/zap/buffer/buffer.go
/Lesson_1_app/vendor/go.uber.org/zap/internal/bufferpool/bufferpool.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/bytea.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/bytea_array.go
/Lesson_1_app/vendor/golang.org/x/crypto/acme/autocert/cache.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/cancel_request.go
/Lesson_1_app/vendor/golang.org/x/text/cases/cases.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/chain.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/CHANGELOG.md
/Lesson_1_app/vendor/github.com/jackc/pgconn/CHANGELOG.md
/Lesson_1_app/vendor/github.com/jackc/pgtype/CHANGELOG.md
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/CHANGELOG.md
/Lesson_1_app/vendor/github.com/jackc/puddle/CHANGELOG.md
/Lesson_1_app/vendor/go.uber.org/atomic/CHANGELOG.md
/Lesson_1_app/vendor/go.uber.org/multierr/CHANGELOG.md
/Lesson_1_app/vendor/go.uber.org/zap/CHANGELOG.md
/Lesson_1_app/vendor/go.uber.org/zap/checklicense.sh
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/chi.go
/Lesson_1_app/vendor/github.com/jackc/chunkreader/v2/chunkreader.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/chunkreader.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/cid.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/cidr.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/cidr_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/circle.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/class.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/clean_path.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/close.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/close_complete.go
/Lesson_1_app/vendor/go.uber.org/zap/CODE_OF_CONDUCT.md
/Lesson_1_app/vendor/go.uber.org/zap/internal/color/color.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/command_complete.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/common.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/compact/compact.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/compact.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/compose.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/composite_fields.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/composite_type.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/composition.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/compress.go
/Lesson_1_app/vendor/golang.org/x/text/runes/cond.go
/Lesson_1_app/vendor/github.com/jackc/pgconn/config.go
/Lesson_1_app/vendor/go.uber.org/zap/config.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/pgxpool/conn.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/conn.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/console_encoder.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/content_charset.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/content_encoding.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/content_type.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/context.go
/Lesson_1_app/vendor/golang.org/x/text/cases/context.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/context.go
/Lesson_1_app/vendor/github.com/jackc/pgconn/internal/ctxwatch/context_watcher.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/CONTRIBUTING.md
/Lesson_1_app/vendor/go.uber.org/zap/CONTRIBUTING.md
/Lesson_1_app/vendor/golang.org/x/lint/CONTRIBUTING.md
/Lesson_1_app/vendor/golang.org/x/crypto/CONTRIBUTORS
/Lesson_1_app/vendor/golang.org/x/net/CONTRIBUTORS
/Lesson_1_app/vendor/golang.org/x/text/CONTRIBUTORS
/Lesson_1_app/vendor/golang.org/x/tools/CONTRIBUTORS
/Lesson_1_app/vendor/github.com/jackc/pgtype/convert.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/copy_both_response.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/copy_data.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/copy_done.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/copy_fail.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/copy_from.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/copy_in_response.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/copy_out_response.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/core.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/bidi/core.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/coverage.go
/Lesson_1_app/vendor/golang.org/x/text/language/coverage.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/data_row.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/database_sql.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/date.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/date_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/daterange.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/decode.go
/Lesson_1_app/vendor/github.com/jackc/pgconn/defaults.go
/Lesson_1_app/vendor/github.com/jackc/pgconn/defaults_windows.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/describe.go
/Lesson_1_app/vendor/github.com/jackc/pgconn/doc.go
/Lesson_1_app/vendor/github.com/jackc/pgio/doc.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/doc.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/pgxpool/doc.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/doc.go
/Lesson_1_app/vendor/github.com/jackc/puddle/doc.go
/Lesson_1_app/vendor/github.com/kelseyhightower/envconfig/doc.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/doc.go
/Lesson_1_app/vendor/go.uber.org/zap/doc.go
/Lesson_1_app/vendor/golang.org/x/text/language/doc.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/doc.go
/Lesson_1_app/deployments/Dockerfile
/Lesson_1_app/vendor/gopkg.in/yaml.v2/emitterc.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/empty_query_response.go
/Lesson_1_app/vendor/golang.org/x/tools/go/ast/astutil/enclosing.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/encode.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/encoder.go
/Lesson_1_app/vendor/go.uber.org/zap/encoder.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/entry.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/enum_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/enum_type.go
/Lesson_1_app/vendor/github.com/kelseyhightower/envconfig/env_os.go
/Lesson_1_app/vendor/github.com/kelseyhightower/envconfig/env_syscall.go
/Lesson_1_app/vendor/github.com/kelseyhightower/envconfig/envconfig.go
/Lesson_1_app/vendor/go.uber.org/atomic/error.go
/Lesson_1_app/vendor/go.uber.org/multierr/error.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/error.go
/Lesson_1_app/vendor/go.uber.org/zap/error.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/error_response.go
/Lesson_1_app/vendor/github.com/jackc/pgconn/errors.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/execute.go
/Lesson_1_app/vendor/go.uber.org/zap/internal/exit/exit.go
/Lesson_1_app/vendor/golang.org/x/tools/go/internal/gcimporter/exportdata.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/extended_query_builder.go
/Lesson_1_app/vendor/go.uber.org/zap/FAQ.md
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/field.go
/Lesson_1_app/vendor/go.uber.org/zap/field.go
/Lesson_1_app/vendor/go.uber.org/zap/flag.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/float4.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/float4_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/float8.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/float8_array.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/flush.go
/Lesson_1_app/vendor/golang.org/x/text/cases/fold.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/forminfo.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/frontend.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/function_call_response.go
/Lesson_1_app/vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
/Lesson_1_app/vendor/golang.org/x/tools/go/internal/gcimporter/gcimporter.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/generic_binary.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/generic_text.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/get_head.go
/Lesson_1_app/vendor/go.uber.org/multierr/glide.yaml
/Lesson_1_app/vendor/go.uber.org/zap/glide.yaml
/Lesson_1_app/vendor/go.uber.org/zap/global.go
/Lesson_1_app/vendor/go.uber.org/zap/global_go112.go
/Lesson_1_app/vendor/go.uber.org/zap/global_prego112.go
/Lesson_1_app/vendor/golang.org/x/text/language/go1_1.go
/Lesson_1_app/vendor/golang.org/x/text/language/go1_2.go
/Lesson_1_app/vendor/go.uber.org/multierr/go113.go
/.idea/go_back_2.iml
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/go_stdlib.go
/Lesson_1_app/vendor/golang.org/x/lint/golint/golint.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/gss_enc_request.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/heartbeat.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/hook.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/hstore.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/hstore_array.go
/Lesson_1_app/vendor/golang.org/x/crypto/acme/http.go
/Lesson_1_app/vendor/go.uber.org/zap/http_handler.go
/Lesson_1_app/vendor/golang.org/x/text/cases/icu.go
/Lesson_1_app/vendor/golang.org/x/net/idna/idna9.0.0.go
/Lesson_1_app/vendor/golang.org/x/net/idna/idna10.0.0.go
/Lesson_1_app/vendor/golang.org/x/tools/go/internal/gcimporter/iexport.go
/Lesson_1_app/vendor/golang.org/x/tools/go/internal/gcimporter/iimport.go
/Lesson_1_app/vendor/golang.org/x/lint/golint/import.go
/Lesson_1_app/vendor/golang.org/x/lint/golint/importcomment.go
/Lesson_1_app/vendor/golang.org/x/tools/go/gcexportdata/importer.go
/Lesson_1_app/vendor/golang.org/x/tools/go/ast/astutil/imports.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/inet.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/inet_array.go
/Lesson_1_app/vendor/golang.org/x/text/cases/info.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/input.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/int2.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/int2_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/int4.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/int4_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/int4range.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/int8.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/int8_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/int8range.go
/Lesson_1_app/vendor/golang.org/x/text/internal/internal.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/interval.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/iter.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/json.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/json_encoder.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/jsonb.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/jsonb_array.go
/Lesson_1_app/vendor/golang.org/x/crypto/acme/jws.go
/Lesson_1_app/vendor/golang.org/x/text/width/kind_string.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/compact/language.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/language.go
/Lesson_1_app/vendor/golang.org/x/text/language/language.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/large_objects.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/level.go
/Lesson_1_app/vendor/go.uber.org/zap/level.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/level_strings.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/LICENSE
/Lesson_1_app/vendor/github.com/jackc/chunkreader/v2/LICENSE
/Lesson_1_app/vendor/github.com/jackc/pgconn/LICENSE
/Lesson_1_app/vendor/github.com/jackc/pgio/LICENSE
/Lesson_1_app/vendor/github.com/jackc/pgpassfile/LICENSE
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/LICENSE
/Lesson_1_app/vendor/github.com/jackc/pgservicefile/LICENSE
/Lesson_1_app/vendor/github.com/jackc/pgtype/LICENSE
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/LICENSE
/Lesson_1_app/vendor/github.com/jackc/puddle/LICENSE
/Lesson_1_app/vendor/github.com/kelseyhightower/envconfig/LICENSE
/Lesson_1_app/vendor/golang.org/x/crypto/LICENSE
/Lesson_1_app/vendor/golang.org/x/lint/LICENSE
/Lesson_1_app/vendor/golang.org/x/net/LICENSE
/Lesson_1_app/vendor/golang.org/x/text/LICENSE
/Lesson_1_app/vendor/golang.org/x/tools/LICENSE
/Lesson_1_app/vendor/gopkg.in/yaml.v2/LICENSE
/Lesson_1_app/vendor/gopkg.in/yaml.v2/LICENSE.libyaml
/Lesson_1_app/vendor/go.uber.org/atomic/LICENSE.txt
/Lesson_1_app/vendor/go.uber.org/multierr/LICENSE.txt
/Lesson_1_app/vendor/go.uber.org/zap/LICENSE.txt
/Lesson_1_app/vendor/github.com/jackc/pgtype/line.go
/Lesson_1_app/vendor/golang.org/x/lint/lint.go
/Lesson_1_app/vendor/golang.org/x/crypto/acme/autocert/listener.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/logger.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/logger.go
/Lesson_1_app/vendor/go.uber.org/zap/logger.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/lookup.go
/Lesson_1_app/vendor/github.com/jackc/pgconn/stmtcache/lru.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/lseg.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/macaddr.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/macaddr_array.go
/Lesson_1_app/vendor/github.com/kelseyhightower/envconfig/MAINTAINERS
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/Makefile
/Lesson_1_app/vendor/go.uber.org/atomic/Makefile
/Lesson_1_app/vendor/go.uber.org/multierr/Makefile
/Lesson_1_app/vendor/go.uber.org/zap/Makefile
/Lesson_1_app/vendor/golang.org/x/text/cases/map.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/marshaler.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/match.go
/Lesson_1_app/vendor/golang.org/x/text/internal/match.go
/Lesson_1_app/vendor/golang.org/x/text/language/match.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/maybe.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/memory_encoder.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/messages.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/middleware.go
/Lesson_1_app/vendor/modules.txt
/.idea/modules.xml
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/mux.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/name.go
/Lesson_1_app/vendor/github.com/jackc/puddle/nanotime_time.go
/Lesson_1_app/vendor/github.com/jackc/puddle/nanotime_unsafe.go
/Lesson_1_app/vendor/golang.org/x/tools/go/internal/gcimporter/newInterface10.go
/Lesson_1_app/vendor/golang.org/x/tools/go/internal/gcimporter/newInterface11.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/nickname.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/no_data.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/nocache.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/normalize.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/NOTICE
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/notice_response.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/notification_response.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/numeric.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/numeric_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/numrange.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/oid.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/oid_value.go
/Lesson_1_app/vendor/go.uber.org/zap/options.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/options.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/page_route.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/parameter_description.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/parameter_status.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/compact/parents.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/parse.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/parse.go
/Lesson_1_app/vendor/golang.org/x/text/language/parse.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/parse_complete.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/parserc.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/password_message.go
/Lesson_1_app/vendor/golang.org/x/crypto/PATENTS
/Lesson_1_app/vendor/golang.org/x/net/PATENTS
/Lesson_1_app/vendor/golang.org/x/text/PATENTS
/Lesson_1_app/vendor/golang.org/x/tools/PATENTS
/Lesson_1_app/vendor/github.com/jackc/pgtype/path.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/path_rewrite.go
/Lesson_1_app/vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
/Lesson_1_app/vendor/github.com/jackc/pgconn/pgconn.go
/Lesson_1_app/vendor/github.com/jackc/pgpassfile/pgpass.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/pgproto3.go
/Lesson_1_app/vendor/github.com/jackc/pgservicefile/pgservicefile.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/pgtype.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/pguint32.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/point.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/polygon.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/pgxpool/pool.go
/Lesson_1_app/vendor/github.com/jackc/puddle/pool.go
/Lesson_1_app/vendor/go.uber.org/zap/buffer/pool.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/portal_suspended.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/profile.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/profiler.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/profiles.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/bidi/prop.go
/Lesson_1_app/vendor/golang.org/x/net/idna/punycode.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/qchar.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/query.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/range.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/readerc.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/README.md
/Lesson_1_app/vendor/github.com/jackc/chunkreader/v2/README.md
/Lesson_1_app/vendor/github.com/jackc/pgconn/README.md
/Lesson_1_app/vendor/github.com/jackc/pgio/README.md
/Lesson_1_app/vendor/github.com/jackc/pgpassfile/README.md
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/README.md
/Lesson_1_app/vendor/github.com/jackc/pgservicefile/README.md
/Lesson_1_app/vendor/github.com/jackc/pgtype/README.md
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/README.md
/Lesson_1_app/vendor/github.com/jackc/puddle/README.md
/Lesson_1_app/vendor/github.com/kelseyhightower/envconfig/README.md
/Lesson_1_app/vendor/go.uber.org/atomic/README.md
/Lesson_1_app/vendor/go.uber.org/multierr/README.md
/Lesson_1_app/vendor/go.uber.org/zap/README.md
/Lesson_1_app/vendor/golang.org/x/lint/README.md
/Lesson_1_app/vendor/gopkg.in/yaml.v2/README.md
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/readwriter.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/ready_for_query.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/realip.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/record.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/recoverer.go
/Lesson_1_app/vendor/golang.org/x/crypto/acme/autocert/renewal.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/request_id.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/resolve.go
/Lesson_1_app/vendor/golang.org/x/tools/go/ast/astutil/rewrite.go
/Lesson_1_app/vendor/golang.org/x/crypto/acme/rfc8555.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/route_headers.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/row_description.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/pgxpool/rows.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/rows.go
/Lesson_1_app/vendor/golang.org/x/text/runes/runes.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/sampler.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/internal/sanitize/sanitize.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/sasl_initial_response.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/sasl_response.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/scannerc.go
/Lesson_1_app/vendor/go.uber.org/zap/sink.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/sorter.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/ssl_request.go
/Lesson_1_app/vendor/go.uber.org/zap/stacktrace.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/startup_message.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/pgxpool/stat.go
/Lesson_1_app/vendor/github.com/jackc/pgconn/stmtcache/stmtcache.go
/Lesson_1_app/vendor/go.uber.org/atomic/string.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/strip.go
/Lesson_1_app/vendor/go.uber.org/zap/sugar.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/sync.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/compact/tables.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/tables.go
/Lesson_1_app/vendor/golang.org/x/text/language/tables.go
/Lesson_1_app/vendor/golang.org/x/net/idna/tables9.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/cases/tables9.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/tables9.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/bidi/tables9.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/tables9.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/width/tables9.0.0.go
/Lesson_1_app/vendor/golang.org/x/net/idna/tables10.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/cases/tables10.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/tables10.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/bidi/tables10.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/tables10.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/width/tables10.0.0.go
/Lesson_1_app/vendor/golang.org/x/net/idna/tables11.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/cases/tables11.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/tables11.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/bidi/tables11.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/tables11.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/width/tables11.0.0.go
/Lesson_1_app/vendor/golang.org/x/net/idna/tables12.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/cases/tables12.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/tables12.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/bidi/tables12.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/tables12.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/width/tables12.0.0.go
/Lesson_1_app/vendor/golang.org/x/net/idna/tables13.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/cases/tables13.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/tables13.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/bidi/tables13.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/width/tables13.0.0.go
/Lesson_1_app/vendor/golang.org/x/text/internal/tag/tag.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/compact/tags.go
/Lesson_1_app/vendor/golang.org/x/text/internal/language/tags.go
/Lesson_1_app/vendor/golang.org/x/text/language/tags.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/tee.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/terminal.go
/Lesson_1_app/vendor/github.com/jackc/pgproto3/v2/terminate.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/text.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/text_array.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/throttle.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/tid.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/time.go
/Lesson_1_app/vendor/go.uber.org/zap/time.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/timeout.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/timestamp.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/timestamp_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/timestamptz.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/timestamptz_array.go
/Lesson_1_app/vendor/go.uber.org/zap/tools.go
/Lesson_1_app/vendor/golang.org/x/text/transform/transform.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/transform.go
/Lesson_1_app/vendor/golang.org/x/text/width/transform.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/transformer.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/tree.go
/Lesson_1_app/vendor/golang.org/x/net/idna/trie.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/norm/trie.go
/Lesson_1_app/vendor/golang.org/x/net/idna/trieval.go
/Lesson_1_app/vendor/golang.org/x/text/cases/trieval.go
/Lesson_1_app/vendor/golang.org/x/text/secure/precis/trieval.go
/Lesson_1_app/vendor/golang.org/x/text/unicode/bidi/trieval.go
/Lesson_1_app/vendor/golang.org/x/text/width/trieval.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/tsrange.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/tsrange_array.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/tstzrange.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/tstzrange_array.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/pgxpool/tx.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/tx.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/typed_array.go.erb
/Lesson_1_app/vendor/github.com/jackc/pgtype/typed_array_gen.sh
/Lesson_1_app/vendor/github.com/jackc/pgtype/typed_range.go.erb
/Lesson_1_app/vendor/github.com/jackc/pgtype/typed_range_gen.sh
/Lesson_1_app/vendor/golang.org/x/crypto/acme/types.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/unknown.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/url_format.go
/Lesson_1_app/vendor/github.com/kelseyhightower/envconfig/usage.go
/Lesson_1_app/vendor/golang.org/x/tools/go/ast/astutil/util.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/uuid.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/uuid_array.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/value.go
/Lesson_1_app/vendor/github.com/jackc/pgx/v4/values.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/varbit.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/varchar.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/varchar_array.go
/.idea/vcs.xml
/Lesson_1_app/vendor/golang.org/x/crypto/acme/version_go112.go
/Lesson_1_app/vendor/golang.org/x/text/width/width.go
/Lesson_1_app/vendor/github.com/go-chi/chi/v5/middleware/wrap_writer.go
/Lesson_1_app/vendor/github.com/jackc/pgio/write.go
/Lesson_1_app/vendor/go.uber.org/zap/zapcore/write_syncer.go
/Lesson_1_app/vendor/go.uber.org/zap/writer.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/writerc.go
/Lesson_1_app/vendor/github.com/jackc/pgtype/xid.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/yaml.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/yamlh.go
/Lesson_1_app/vendor/gopkg.in/yaml.v2/yamlprivateh.go
